footer
  .pure-g
    .pure-u-1.pure-u-md-1-4
    .pure-u-1.pure-u-md-1-4
      p Contact: 
      a(href="mailto:contact@startthefuckup.fr") contact@startthefuckup.fr
    .pure-u-1.pure-u-md-1-4
      p Vous souhaitez nous rejoindre ?
      a(href="mailto:join@startthefuckup.fr") join@startthefuckup.fr
    .pure-u-1.pure-u-md-1-4