header
  .header-text
    h1.header-title Start The F*** Up
    h2.header-description
      |Passez de l’idée à la preuve de concept avec 
      br
      |l’aide de notre collectif d’entrepreneurs.
  .header-btn-cont
    button.btn Tester mon idée
  nav
    ul
      li
        a(href="/") Home
      li
        a(href="offre.html") Offres
      li
        a(href="/") Projets
      li
        a(href="/") Equipe
