head
  meta(charset="UTF-8")
  meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
  meta(name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1")
  title STFU - Startup As A Service
  meta(name="description" content="Passez de l'idée à la preuve de concept avec l'aide de notre communauté d'entrepreneurs")
  meta(name="keywords" content="Startup, Freelance, Développement, Code, Applications, Innovation")

  //- TAGS FACEBOOK
  //- meta(property="og:url" content="https://www.monsieurbarbier.com/")
  meta(property="og:type" content="website")
  meta(property="og:title" content="STFU - Startup As A Service")
  meta(property="og:image" content="http://kalys-solutions.com/wp-content/uploads/2016/04/Innovation_Mission-possible.jpg")
  meta(property="og:description" content="Passez de l'idée à la preuve de concept avec l'aide de notre communauté d'entrepreneurs")

  //- TAGS TWITTER
  meta(name="twitter:card" content="summary_large_image")
  //- meta(name="twitter:site" content="@MonsieurBarbier")
  //- meta(name="twitter:creator" content="@MonsieurBarbier")
  meta(name="twitter:title" content="STFU - Startup As A Service")
  meta(name="twitter:description" content="Passez de l'idée à la preuve de concept avec l'aide de notre communauté d'entrepreneurs")
  meta(name="twitter:image" content="http://kalys-solutions.com/wp-content/uploads/2016/04/Innovation_Mission-possible.jpg")

  //- FAVICON
  link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  link(href="favicon.ico" rel="icon" type="image/x-icon")

  //- FONTS
  link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
  link(rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css")

  //- LIBRAIRIES
  link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
  //- [if lte IE 8]
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css")
  //- [endif]
  //- [if gt IE 8]
  link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
  //- [endif]

  //- STYLESHEETS
  link(rel = "stylesheet" href = "style/style.css")
