header
  .header-text
    h1.header-title Start The F#[i.fa.fa-bolt]#[i.fa.fa-bolt]#[i.fa.fa-bolt] Up
    h2.header-description
      |Passez de l’idée à la preuve de concept avec 
      br
      |l’aide de notre collectif d’entrepreneurs.
  nav
    ul
      li
        a(href="index.html") Start
      li
        a(href="offre.html") Offres
      li
        a(href="projets.html") Projets
      li
        a(href="equipe.html") Equipe
    .contact(style="float:right;") Contact