extends layout.pug
block content
  +navbar("index")
  section#home-screen-1
    .pure-g
      .pure-u-1
        .description-text.top-text
          //- |Start The F*** Up est un collectif d'entrepreneurs unis par une idée:
          //- br
          .motto innover sans détour
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .description-text
          span(style="color:yellow;margin-left: 1.2em;") Nous ne sommes pas une agence.
          ul.fa-ul
            li #[i.fa-li.fa.fa-bolt] Nous n’avons pas des têtes de #[a(target="_blank" href="http://www.pointntime.com/wp-content/uploads/2012/05/shutterstock_42094495.jpg" style="color:white;") Shutterstock].
            li #[i.fa-li.fa.fa-bolt] Nous ne vous #[a(target="_blank" href="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr06/2013/5/29/14/enhanced-buzz-wide-19403-1369852412-27.jpg" style="color:white;") bullshiterons] pas.
            li #[i.fa-li.fa.fa-bolt] Nous ne codons pas d'#[a(target="_blank" href="https://itunes.apple.com/us/app/fan-cooler/id452976140?mt=8" style="color:white;") apps inutiles].
      .pure-u-1.pure-u-md-1-2
        .description-text
          span(style="color:yellow") Notre job ?
          br
          |Challenger votre idée.
          br
          |En tirer le meilleur. 
          br
          |En réaliser un f***ing pilote.
    .btn-cont
      button.btn
        a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank") Tester mon idée
  section#home-screen-2
    h1.screen-title Nos Principes
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content
          .value-img-container
            img(src="https://upload.wikimedia.org/wikipedia/commons/7/70/Testing_bulletproof_vest_1923.jpg" style="filter:grayscale(1);")
      .pure-u-1.pure-u-md-1-2
        .screen-content.screen-text.display-flex.justify-center
          .value-title Bullet-proofed makers
          .value-description
            |A travers nos startups et les projets que nous avons menés, nous savons qu'en chaque projet digital réside un véritable challenge.
            br
            br
            |Pour le relever, nous mettons à votre disposition notre expérience du terrain et nos compétences en code, design, ux, marketing.
    .pure-g
      .pure-u-1.pure-u-md-1-2.hide-on-lg
        .screen-content
          .value-img-container
            img(src="http://handsome.is/wp-content/uploads/handsome_website_case_study_youscience_user_interview.jpg" style="filter:grayscale(1);")
      .pure-u-1.pure-u-md-1-2
        .screen-content.screen-text.display-flex.justify-center
          .value-title User-first
          .value-description
            |Chaque décision que nous prendrons ensemble sera guidée par nos méthodes d’analyse des attentes et des usages.
            br
            br
            |Pour que vos clients tombent sous le charme au premier regard, et vous aiment <i>forever</i>.
      .pure-u-1.pure-u-md-1-2.hide-on-med-and-down
        .screen-content
          .value-img-container
            img(src="http://handsome.is/wp-content/uploads/handsome_website_case_study_youscience_user_interview.jpg" style="filter:grayscale(1);")

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content
          .value-img-container
            img(src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?w=940&h=650&auto=compress&cs=tinysrgb")
      .pure-u-1.pure-u-md-1-2
        .screen-content.screen-text.display-flex.justify-center
          .value-title Less is more
          .value-description
            |Notre seule obsession est de trouver la solution la plus simple et efficace pour vos users.
            br
            |Wordpress ou Mailchimp suffiront peut-être ? Pourquoi pas.

  section#home-screen-6
    h1.screen-title En pratique
    .pure-g
      .pure-u-1
        .screen-description
          |Workshops, Hackathon, Développement… Nous adaptons nos techniques à vos besoins pour vous offrir le plus de valeur possible.
          br
          br
          |Exemple de nos dernières opérations:
    .pure-g(style="margin: 1rem 1rem 2rem;")
      .pure-u-1.pure-u-lg-1-3
        .home-project-container
          .home-project-img-cont
            img(src="assets/mik-workshop.jpg")
          .home-project-text
            .home-project-title Bien-Etre au travail
            .home-project-description 
              |Workshop d'une journée en partenariat avec le Schoolab.
              br
              br
              |<u>L'Objectif:</u> imaginer des solutions pour améliorer le bien-être des employés une compagnie d'assurance.
      .pure-u-1.pure-u-lg-1-3
        .home-project-container
          .home-project-img-cont
            img(src="assets/hackathon.jpg")
          .home-project-text
            .home-project-title Aider les intrapreneurs
            .home-project-description 
              |Hackathon de 48h avec les fondateurs du <i>Creart'up Intrapreneurship Tour</i>.
              br
              br
              |<u>L'Objectif:</u> prototyper une plateforme pour stimuler l'innovation en entreprise.
      .pure-u-1.pure-u-lg-1-3
        .home-project-container
          .home-project-img-cont
            img(src="assets/photo-snippet-old.png")
          .home-project-text
            .home-project-title Se motiver à courir
            .home-project-description 
              |Conception et développement de l'app d'une communauté de sportifs.
              br
              br
              |<u>L'Objectif:</u> créer une app pour s'inscrire à des groupes de sport, et suivre sa progression.
    .pure-g
      .pure-u-1
        .btn-container
          button.btn 
            a(href="projets.html") Tous les projets
          |&nbsp;&nbsp;
          button.btn 
            a(href="offre.html") Toutes nos offres

  //- section#home-screen-7
  //-   include projects.pug

  section#home-partners
    h2.home-subtitle Nos partenaires
    .home-partner-logo-cont
      img(src="https://www.polytechnique.edu/sites/all/institutionnel/Logo_Ecole%20polytechnique_horizontal_72dpi.jpg" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
    .home-partner-logo-cont
      img(src="https://assets-production-webvanta-com.s3-us-west-2.amazonaws.com/000000/51/21/original/images/berkeley-logo.png" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
    .home-partner-logo-cont
      img(src="http://theschoolab.com/wp-content/uploads/2016/09/logo_site_schoolab.png" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
    .home-partner-logo-cont(style="width: 200px;")
      img(src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14725711_2153707181520990_4904325706566306218_n.png?oh=545cae383e06a0640bc3524811a17c7b&oe=58B5D436" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")

