extends layout.pug
block content
  nav
    h1(style="margin:0;") STFU
  .home-header
    .header-text
      .header-title Startup-As-A-Service
      .header-description
        |Passez de l’idée à la preuve de concept avec 
        br
        |l’aide de notre communauté d’entrepreneurs.
    .header-btn-cont
      button.btn Tester mon idée
  #home-screen-1.home-screen
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .description-img-container
            img(src="assets/workshop.png")
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .description-text
            |Nous ne sommes pas une agence de freelances.
            br
            br
            |Nous ne codons pas d’apps inutiles:
            br
            |on l’a trop fait !
            br
            br
            |Nous voulons challenger votre succès sans détours.
  #home-screen-2.home-screen
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-img-container
            img(src="assets/rocket.png")
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-title Makers &amp; Entrepreneurs
          .value-description
            |Avec nos startups, nous connaissons le challenge de faire marcher l’ensemble d’un projet.
            br
            br
            |Cette expérience, ainsi que nos compétences en Code, Design, UX, Marketing, Machine Learning, …, sont  à votre disposition.
  #home-screen-3.home-screen
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-title Get Shit Done Processes
          .value-description
            |À partir de vos interviews clients, nous suivons les méthodes UX inventées par les meilleurs.
            br
            br
            |Nous en tirons une expérience utilisateur complète, de la découverte à la rétention, adaptée à vos ressources et vos besoins.
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-img-container
            img(src="assets/get-shit-done.png")
  #home-screen-4.home-screen
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-img-container
            img(src="assets/insta-legos.png")
      .pure-u-1.pure-u-md-1-2
        .screen-content.display-flex.justify-center
          .value-title Ship Less, it's More
          .value-description
            |Notre solution fournira la valeur principale pour vos utilisateurs.
            br
            |Qui sait ! Excel, Wordpress et Mailchimp suffiront peut-être…
            br
            br
            |Nous vous aiderons à le réaliser ou à trouver quelqu’un pour réaliser.
