extends layout.pug
block content
  section#home-screen-5.home-screen
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .screen-content
          .pb-title Entrepreneur ?
          .pb-description 
            |Peu de ressources ?
            br
            |Pas les compétences pour tout faire tout seul ?
            br
            |On connaît :)
            br
            |Pas besoin d’un CTO, d’un designer, et d’une armée de codeurs pour avancer…
          .solution-box
            |Nous vous aidons à formaliser votre idée et à la réaliser pour que vous la testiez rapidement.


      .pure-u-1.pure-u-md-1-2
        .screen-content
          .pb-title Intrapreneur ?
          .pb-description
            |Une idée ? 
            br
            |Votre entreprise ne débloquera pas de gros budget sans preuve de concept ?
            br
            |Pourquoi payer pour des fonctionnalités complexes et chères, sans s’assurer qu’elles sont utiles ?