extends layout.pug
block content
  +navbar("offre")
  #offer-page
    h1.screen-title Offres
    .screen-description
      |Au programme de nos aventures en commun ? Ce qui sera le mieux pour vous, vos users, et votre projets. Voici quelques destinations à la carte, mais on peut aussi concocter un mix maison.

    .formulas-list
      .project-box
        .pure-g
          .pure-u-1.pure-u-md-1-2
            .project-img-container
              img(src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?w=940&h=650&auto=compress&cs=tinysrgb")
          .pure-u-1.pure-u-md-1-2
            .project-text-container
              .project-title DAY ONE
              .project-description 
                |<u>Format:</u> 1 journée
                br
                br
                |Nous amenons nos méthodos, nos bancs et nos experts, vous amenez votre enthousiasme et des softs. Après 10h non stop, votre concept-super-important-mais-c’est-compliqué-tu-vois, sera une solution prête-à-lancer.


      .project-box
        .pure-g
          .pure-u-1.pure-u-md-1-2
            .project-img-container
              img(src="https://www.sportbuzzbusiness.fr/wp-content/uploads/2016/10/hackathon.jpg")
          .pure-u-1.pure-u-md-1-2
            .project-text-container
              .project-title HACKATHON
              .project-description
                |<u>Format:</u> 24h ou 48h
                br
                br
                |En mode "sprint", nous créons le prototype fonctionnel de votre solution, avec lequel vos premiers utilisateurs pourrons commencer à jouer / travailler / communiquer / s’épanouir quand le grand test sera lancé.

      .project-box
        .pure-g
          .pure-u-1.pure-u-md-1-2
            .project-img-container
              img(src="http://monovisions.com/wp-content/uploads/2015/02/Wright-Brothers-First-Flight-in-1903-06-1040x440.jpg")
          .pure-u-1.pure-u-md-1-2
            .project-text-container
              .project-title MARATHON
              .project-description 
                |<u>Format:</u> 1 mois
                br
                br
                |Nous donnons tout sur votre projet, comme si c’était notre bébé: de l’étude des besoins à la mise sur le marché, en passant par la V1, les tests et les retests. Bref, un mois chargé en émotions, et en caféine.

    .btn-cont
      button.btn 
        a(href="projets.html") Voir nos réalisations
      |&nbsp;&nbsp;
      button.btn
        a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank") Je me lance


  //- section#home-screen-5
  //-   .pure-g
  //-     .pure-u-1.pure-u-md-1-2
  //-       .screen-content
  //-         .pb-title Entrepreneur ?
  //-         .pb-description 
  //-           |Peu de ressources ?
  //-           br
  //-           |Pas les compétences pour tout faire tout seul ?
  //-           br
  //-           |On connaît :)
  //-           br
  //-           |Pas besoin d’un CTO, d’un designer, et d’une armée de codeurs pour avancer…
  //-         .solution-box
  //-           |Nous vous aidons à formaliser votre idée et à la réaliser pour que vous la testiez rapidement.


  //-     .pure-u-1.pure-u-md-1-2
  //-       .screen-content
  //-         .pb-title Intrapreneur ?
  //-         .pb-description
  //-           |Une idée ? 
  //-           br
  //-           |Votre entreprise ne débloquera pas de gros budget sans preuve de concept ?
  //-           br
  //-           |Pourquoi payer pour des fonctionnalités complexes et chères, sans s’assurer qu’elles sont utiles ?
